body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    height: 100%;
    overflow-x: hidden;
}
.container {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}
aside {
    display: flex;
    flex-direction: column;
    background-color: #434242;
    height: 100%;
    position: fixed;
    width: 200px;
    z-index: 1;
}
.main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.9fr;
    grid-template-rows: 1fr;
    position: absolute;
    left: 200px;
    grid-template-areas:
    "introduction experience education personalSkills blank"
}
nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}
.refs {
    display: block;
    padding: 20px 0;
    text-align: left;
    outline: none;
    margin: 0 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #aaaaaa;
}
.general {
    width: 600px;
}
.introduction {
    grid-area: introduction;
    align-items: center;
    background-image: url("https://user-images.githubusercontent.com/93827521/160760703-61377a7c-3d87-49bb-8d64-e0b5d12d2979.jpg");
    background-position: center;
    background-size: cover;
}
.introduction img {
    z-index: -1;
    height: auto;
    width: 100%;
    float: left;
}
.experience {
    grid-area: experience;
    background-color: #B8B8B8;
}
.exp-edu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}
.education {
    grid-area: education;
    background-color: #C0C0C0;
}
.personalSkills {
    grid-area: personalSkills;
    background-color: #B8B8B8;
}
.skills {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, max-content);
    row-gap: 20px;
    grid-template-areas:
     "a b"
     "c d"
     "e f"
     "g h"
     "j k"
     "l l"
}
.skills-content {
    grid-area: l;
}
.blank {
    grid-area: blank;
    background-color: #B8B8B8;
}
.title-divider {
    width: 190px;
    height: 5px;
    background-color: #ee6817;
    margin: 20px 0 50px 0
}
.d-flex {
    display: flex;
}
.align-self {
    align-self: end;
}
.column {
    flex-direction: column;
}
.content-padding {
    padding: 50px;
}
span {
    margin: 5px 0;
}
.border {
    border-bottom: 2px solid rgba(235, 235, 235, 0.1);
}
.item-bb {
    padding-bottom: 10px;
}
.name {
    margin: 20px 0 10px;
}
.under {
    margin: 10px 0 0;
}
.p-5 {
    padding: 5px 0;
}
.ml {
    margin-left: 5px;
}
.p-top-3 {
    padding-top: 3px;
}
h2 {
    margin: 0;
    padding: 0;
}
.mb-20 {
    margin-bottom: 20px;
}

.colored-link {
    color: #ee6817;
}
ul {
    padding-left: 20px;
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: #ee6817;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1.2em;
    margin-top: 20px;
}
.links {
    color: #ee6817;
    text-decoration: none;
}
.refs:hover {
    cursor: pointer;
    color: #ee6817;
}
.section:hover {
    cursor: pointer;
}
a:hover {
    font-weight: bolder;
}

@media (max-width: 768px) {
    .main {
        display: none;
    }
    .d-none {
        display: none;
    }
    .general {
        width: auto;
    }
    .no-events {
        pointer-events: none;
    }
    .main-s {
        height: 400%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        position: absolute;
        left: 0;
        grid-template-areas:
    "introduction"
    "experience"
    "education"
    "personalSkills"
    }
}

